@model DataBase.ViewModels.PublicacionesViewModel
@{

}

<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="h3">
                    <img src="@Model.Imagen" height="60px" width="60px" class="rounded-circle"/>
                    @Model.Usuario</div>

                </div>
                
            </div>
        </div>
        <div class="col-md-6 gedf-main">
            <!--- \\\\\\\Post-->
            <div class="card gedf-card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">
                                Escribe Algo
                            </a>
                        </li>

                    </ul>
                </div>
                <form asp-action="Index" asp-controller="HomePage" enctype="multipart/form-data">

                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                <div class="form-group">
                                    <input type="text" asp-for="IdUsuario" value="@Model.IdUsuario" style="display:none;">
                                    <label class="sr-only" for="message">post</label>
                                    <textarea asp-for="Publicacion" class="form-control" rows="3" placeholder="Que estas pensando?" required></textarea>
                                    <label class="sr-only" for="message">Sube una imagen</label>
                                    <input asp-for="FotoPub" accept="image/*" />
                                </div>
                            </div>

                            <div class="btn-toolbar justify-content-between">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-primary">Publicar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Post /////-->
<!--- \\\\\\\Post-->

@foreach (var publi in Model.publicaciones)
{


<div class="card gedf-card">
    <div class="card-header">
        <div class="d-flex justify-content-between ">
            <div class="d-flex justify-content-between ">

                <div class="ml-2">
                    <div class="h3 m-0">
                        <img src="@publi.ImagenUser" height="40px" width="40px" class="rounded-circle" />

                        @Html.DisplayFor(ModelItem => publi.Usuario)
                    </div>
                </div>


            </div>
            <div class="btn-group dropleft">
                <a asp-action="EditarPub" asp-route-id="@(publi.IdPublicacion)"><i class="fa fa-pencil"></i>Editar Publicacion</a>
                <a href="#" style="margin-left:30px; color:red;" data-toggle="modal" data-target="#borrar-@(publi.IdPublicacion)"><i class="fa fa-close"></i>Eliminar Publicacion</a>



                <div class="modal fade " id="borrar-@(publi.IdPublicacion)" data-backdrop="static"
                     data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog modal-sm">
                        <div class="modal-content bg-danger shadow-sm p-1 rounded">
                            <div class="modal-header shadow p-1 rounded">
                                <h5 class="modal-title text-white font-weight-bolder" id="staticBackdropLabel" style="font-size:30px;">Eliminar Publicacion</h5>
                                <button type="button" class=" btn btn-danger btn-sm text-white font-weight-bolder" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true" style="font-size:20px;"></i></button>
                            </div>

                            <div class="modal-body bg-light h6 text-justify">
                                Seguro que desea eliminar esta Publicacion?

                                <div class="mt-2 d-flex justify-content-center">
                                    <a asp-action="EliminarPub" asp-route-id="@(publi.IdPublicacion)" class="btn btn-outline-secondary btn-sm"><i class="fa fa-times-circle" style="font-size:14px; color:red" aria-hidden="true"></i> Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    <div class="card-body">
        <div class="text-muted h5 mb-2"> <i class="fa fa-clock-o"></i>@Html.DisplayFor(ModelItem => publi.Fecha)</div>
        <a class="card-link" href="#">
            <h3 class="card-title">@Html.DisplayFor(ModelItem => publi.Publicacion)</h3>
        </a>

    </div>
    @if (publi.Imagen != null)
    {
        <center>
            <div class="card-body">
                <a class="card-link" href="#">
                    <img src="@publi.Imagen" width="50%" height="500px" />
                </a>

            </div>
        </center>
    }
    <a class="card-link" href="" data-toggle="collapse" data-target="#coment-@(publi.IdPublicacion)"><i class="fa fa-comment"></i> Comentar</a>

    <div class="card-footer">
        <div class="collapse" id="coment-@(publi.IdPublicacion)">
            <form asp-action="Comentar" method="post">
                <input type="text" class="form-control" name="Comentario" required />
                <input value="@publi.IdPublicacion" class="collapse" name="IdPublicacion" />
                <input value="@publi.IdUsuario" class="collapse" name="IdUsuario" />


                <input type="submit" class="btn btn-primary" value="Comentar" />

            </form>
        </div>
    </div>

    @foreach (var comentario in publi.comentarios)
    {
        if (comentario.IdPublicacion == publi.IdPublicacion)
        {
            <div class="comentarios" style="background-color: rgba(0,0,0,.03); border-bottom:2px solid; border-color:#e9ebee;">
                <div class="user-post-info">
                    <h4><b><img src="@comentario.ImagenUser" height="40px" width="40px" class="rounded-circle" />

    @Html.DisplayFor(ModelItem => comentario.Usuario)
</b></h4>
                    <b><i class="fa fa-comments"></i>Comento:</b>
                    @Html.DisplayFor(ModelItem => comentario.Comentario)
                    <br>

                    <p></p>
                </div>
            </div>
            <a class="card-link" href="" data-toggle="collapse" data-target="#coment-@(comentario.IdComentario)"><i class="fa fa-reply"></i> Responder</a>
            <div class="card-footer">
                <div class="collapse" id="coment-@(comentario.IdComentario)">
                    <form asp-action="Responder" method="post">
                        <input type="text" class="form-control" name="Comentario" required />
                        <input value="@comentario.IdComentario" class="collapse" name="IdComentarioPadre" />
                        <input value="@publi.IdUsuario" class="collapse" name="IdUsuario" />


                        <input type="submit" class="btn btn-primary" value="Responder" />

                    </form>
                </div>
            </div>


            @foreach (var replys in comentario.comentarios2)
            {
                <div class="comentarios" style="background-color: rgba(0,0,0,.03);
                    border-bottom:2px solid; border-color:#e9ebee;">
                    <div class="user-post-info">
                        <img src="@replys.ImagenUser" height="40px" width="40px" class="rounded-circle" />
                        <h4 style=" margin-left:30px;"><b>@Html.DisplayFor(ModelItem => replys.Usuario)</b></h4>
                        <span style=" margin-left:30px;">

                            <b><i class="fa fa-share"></i>Respondio:</b>
                            @Html.DisplayFor(ModelItem => replys.Comentario)
                        </span>
                        <br>

                        <p></p>
                    </div>
                </div>

            }


        }
    }


</div>
}





<style>
    body {
        background-color: #eeeeee;
    }

    .h7 {
        font-size: 0.8rem;
    }

    .gedf-wrapper {
        margin-top: 0.97rem;
    }

    @@media (min-width: 992px) {
        .gedf-main {
            padding-left: 4rem;
            padding-right: 4rem;
        }

        .gedf-card {
            margin-bottom: 2.77rem;
        }
    }

    /**Reset Bootstrap*/
    .dropdown-toggle::after {
        content: none;
        display: none;
    }
</style>
